.Basic-content {
    color: white;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-right: 15vh;
    padding-left: 15vh;
    padding-bottom: 100vh;
  }
  
.Basic-header {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
  }